{% include 'header.html' %}
<h2>Listado de Personas</h2>

<a href="{{ url_for('create') }}" class="btn btn-success">nuevo</a>

<table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Telefono</th>
        <th scope="col">Fecha Naci</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        {% for item in personas  %}
      <tr>
        <th scope="row">{{ item['id'] }}</th>
        <td>{{ item['nombre'] }}</td>
        <td>{{ item['telefono'] }}</td>
        <td>{{ item['fecha_nac'] }}</td>
        <td><a href="/personas/edit/{{ item['id']}}" class="btn btn-warning">Editar</a></td>
        <td><a href="/personas/delete/{{ item['id']}}" onclick="return(confirm('esta seguro ???'))" class="btn btn-danger">Eliminar</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% include 'footer.html' %}